{% extends "base.html" %}

{% block content %}

<div class="container mt-5" style="color: white;">
    <h1 class="text-center mb-4">Available Books</h1>
    <p class="text-center lead">Find the book you want here!</p>
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
     <div class="col-md-4">
                <div class="card mb-4 shadow-sm card-uniform">
                    <img src="/static/assets/dynbook.png" class="card-img-top" alt="Dynamic Business Law">
                    <div class="card-body">
                        <h5 class="card-title">Dynamic Business Law: Fifth Edition</h5>
                        <p class="card-text">Price: $199</p>
                    </div>
                </div>
    </div>
    <div class="col-md-4">
                <div class="card mb-4 shadow-sm card-uniform">
                    <img src="/static/assets/alchbook.png" class="card-img-top" alt="The Alchemist">
                    <div class="card-body">
                        <h5 class="card-title">The Alchemist</h5>
                        <p class="card-text">Price: $20</p>
                    </div>
                </div>
    </div>
    <div class="col-md-4">
                <div class="card mb-4 shadow-sm card-uniform">
                    <img src="/static/assets/gamebook.png" class="card-img-top" alt="Game of Thrones">
                    <div class="card-body">
                        <h5 class="card-title">A Game of Thrones</h5>
                        <p class="card-text">Price: $20</p>
                    </div>
                </div>
    </div>
    <div class="col-md-4">
                <div class="card mb-4 shadow-sm card-uniform">
                    <img src="/static/assets/harbook.png" class="card-img-top" alt="Harry Potter">
                    <div class="card-body">
                        <h5 class="card-title">Harry Potter and the Deathly Hollows</h5>
                        <p class="card-text">Price: $50</p>
                    </div>
                </div>
    </div>
    <div class="col-md-4">
                <div class="card mb-4 shadow-sm card-uniform">
                    <img src="/static/assets/makebook.png" class="card-img-top" alt="Make Your Bed">
                    <div class="card-body">
                        <h5 class="card-title">Make Your Bed</h5>
                        <p class="card-text">Price: $10</p>
                    </div>
                </div>
    </div>
    <div class="col-md-4">
                <div class="card mb-4 shadow-sm card-uniform">
                    <img src="/static/assets/winbook.png" class="card-img-top" alt="How to Win Friends and Influence People">
                    <div class="card-body">
                        <h5 class="card-title">How to Win Friends and Influence People</h5>
                        <p class="card-text">Price: $50</p>
                    </div>
                </div>
    </div>
</div>

 {% endblock %}